In [8]:
import pandas as pd

df = pd.read_csv('disease.csv')

In [ ]:
df.head(10)

,disease,avoid_nutrients,avoid_ingredients,note
0,diabetes,sugar,no,Avoid high sugar
1,hypertension,sodium,no,Avoid high sodium
2,gout,no,beans,Avoid beans and organ meats
3,obesity,calories,fat,Avoid high calories and fat
4,kidney,sodium,potassium,"Avoid high sodium, potassium, and protein"

In [11]:
for idx, row in df.iterrows():
    print(f"Disease: {row['disease']}")
    print(f"  Avoid Nutrients: {row['avoid_nutrients']}")
    print(f"  Avoid Ingredients: {row['avoid_ingredients']}")
    print(f"  Note: {row['note']}\n")

Disease: diabetes
  Avoid Nutrients: sugar
  Avoid Ingredients: no
  Note: Avoid high sugar

Disease: hypertension
  Avoid Nutrients: sodium
  Avoid Ingredients: no
  Note: Avoid high sodium

Disease: gout
  Avoid Nutrients: no
  Avoid Ingredients: beans
  Note: Avoid beans and organ meats

Disease: obesity
  Avoid Nutrients: calories
  Avoid Ingredients: fat
  Note: Avoid high calories and fat

Disease: kidney
  Avoid Nutrients: sodium
  Avoid Ingredients: potassium
  Note: Avoid high sodium, potassium, and protein

Disease: dyslipidemia
  Avoid Nutrients: fat
  Avoid Ingredients: cholesterol
  Note: Avoid high fat and cholesterol

Disease: heart_disease
  Avoid Nutrients: saturated_fat
  Avoid Ingredients: cholesterol
  Note: Avoid saturated fat and cholesterol

Disease: celiac
  Avoid Nutrients: no
  Avoid Ingredients: gluten
  Note: Avoid gluten

Disease: lactose_intolerance
  Avoid Nutrients: no
  Avoid Ingredients: milk
  Note: Avoid milk and dairy products

Disease: anemia
  Avoid Nutrients: no
  Avoid Ingredients: tea
  Note: Avoid tea and coffee

Disease: hyperuricemia
  Avoid Nutrients: no
  Avoid Ingredients: beans
  Note: Avoid beans and organ meats

In [12]:
df.describe()

,disease,avoid_nutrients,avoid_ingredients,note
count,11,11,11,11
unique,11,6,8,10
top,diabetes,no,no,Avoid beans and organ meats
freq,1,5,2,2

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   disease            11 non-null     object
 1   avoid_nutrients    11 non-null     object
 2   avoid_ingredients  11 non-null     object
 3   note               11 non-null     object
dtypes: object(4)
memory usage: 484.0+ bytes

In [16]:
no_columns = ['avoid_nutrients', 'avoid_ingredients']
df[df[no_columns] == "no"].count()

disease              0
avoid_nutrients      5
avoid_ingredients    2
note                 0
dtype: int64

In [17]:
df[no_columns] = df[no_columns].replace("no",'none')

In [21]:
df.head(20)

,disease,avoid_nutrients,avoid_ingredients,note
0,diabetes,sugar,none,Avoid high sugar
1,hypertension,sodium,none,Avoid high sodium
2,gout,none,beans,Avoid beans and organ meats
3,obesity,calories,fat,Avoid high calories and fat
4,kidney,sodium,potassium,"Avoid high sodium, potassium, and protein"
5,dyslipidemia,fat,cholesterol,Avoid high fat and cholesterol
6,heart_disease,saturated_fat,cholesterol,Avoid saturated fat and cholesterol
7,celiac,none,gluten,Avoid gluten
8,lactose_intolerance,none,milk,Avoid milk and dairy products
9,anemia,none,tea,Avoid tea and coffee
10,hyperuricemia,none,beans,Avoid beans and organ meats

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   disease            11 non-null     object
 1   avoid_nutrients    11 non-null     object
 2   avoid_ingredients  11 non-null     object
 3   note               11 non-null     object
dtypes: object(4)
memory usage: 484.0+ bytes

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

# สร้าง TF-IDF จากคอลัมน์ note
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(df['note'].fillna(""))

# แปลงเป็น DataFrame เพื่อดูค่า TF-IDF
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())
tfidf_df.head(10)

,and,avoid,beans,calories,cholesterol,coffee,dairy,fat,gluten,high,meats,milk,organ,potassium,products,protein,saturated,sodium,sugar,tea
0,0.000000,0.292845,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.495830,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.817554,0.000000
1,0.000000,0.323404,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.547570,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.771736,0.000000,0.000000
2,0.289815,0.225067,0.537076,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.537076,0.00000,0.537076,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.305873,0.237537,0.000000,0.663147,0.000000,0.000000,0.00000,0.498499,0.000000,0.402186,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.248704,0.193141,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.327017,0.000000,0.00000,0.000000,0.539204,0.00000,0.539204,0.000000,0.460892,0.000000,0.000000
5,0.325777,0.252995,0.000000,0.000000,0.603720,0.000000,0.00000,0.530938,0.000000,0.428357,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.284051,0.220591,0.000000,0.000000,0.526395,0.000000,0.00000,0.462935,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.615837,0.000000,0.000000,0.000000
7,0.000000,0.337216,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.941427,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.252342,0.195966,0.000000,0.000000,0.000000,0.000000,0.54709,0.000000,0.000000,0.000000,0.000000,0.54709,0.000000,0.000000,0.54709,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.301457,0.234108,0.000000,0.000000,0.000000,0.653574,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.653574

In [25]:
df = pd.concat([df.reset_index(drop=True), tfidf_df.reset_index(drop=True)], axis=1)

In [26]:
df.head()

,disease,avoid_nutrients,avoid_ingredients,note,and,avoid,beans,calories,cholesterol,coffee,...,meats,milk,organ,potassium,products,protein,saturated,sodium,sugar,tea
0,diabetes,sugar,none,Avoid high sugar,0.000000,0.292845,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.817554,0.0
1,hypertension,sodium,none,Avoid high sodium,0.000000,0.323404,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.771736,0.000000,0.0
2,gout,none,beans,Avoid beans and organ meats,0.289815,0.225067,0.537076,0.000000,0.0,0.0,...,0.537076,0.0,0.537076,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0
3,obesity,calories,fat,Avoid high calories and fat,0.305873,0.237537,0.000000,0.663147,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0
4,kidney,sodium,potassium,"Avoid high sodium, potassium, and protein",0.248704,0.193141,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.000000,0.539204,0.0,0.539204,0.0,0.460892,0.000000,0.0

In [28]:
# บันทึก df_final เป็นไฟล์ CSV
df.to_csv("disease_prep.csv", index=False, encoding="utf-8-sig")

In [34]:
df2 = pd.read_csv('New Text Document.csv')

In [35]:
df2.head()

               foodname sugar sodium cholesterol potassium saturated_fat
0   summer squash salad    3g  120mg         0mg     350mg          1.5g
1  chicken minced salad    4g  500mg        80mg     300mg            4g
2  sweet chilli almonds   12g  300mg         0mg     250mg            5g
3       tricolour salad    4g  150mg         0mg     380mg            1g
4        christmas cake   40g  150mg        40mg     200mg           10g

In [36]:
for col in df2.columns:
    df2[col] = df2[col].astype(str).str.rstrip('g').str.rstrip('m')
    df2[col] = df2[col].str.rstrip('.')

In [ ]:
df2.head()

               foodname sugar sodium cholesterol potassium saturated_fat
0   summer squash salad     3    120           0       350           1.5
1  chicken minced salad     4    500          80       300             4
2  sweet chilli almonds    12    300           0       250             5
3       tricolour salad     4    150           0       380             1
4        christmas cake    40    150          40       200            10

In [ ]:
df2.drop(columns=['foodname'], inplace=True)

KeyError: "['foodname'] not found in axis"

In [42]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sugar          389 non-null    object
 1   sodium         389 non-null    object
 2   cholesterol    389 non-null    object
 3   potassium      389 non-null    object
 4   saturated_fat  389 non-null    object
dtypes: object(5)
memory usage: 15.3+ KB

In [43]:
df2.to_csv("menu.csv", index=False, encoding="utf-8-sig")